<mat-card>
    <h1>Upload new file</h1>
    <form #fileForm [action]="gcsUrlPrefix" method="post" enctype="multipart/form-data">
        <input type="text" name="key" [value]="basename(file.value)" />
        <input #file name="file" type="file" />
        <button mat-raised-button color="primary" type="submit" (click)="fileForm.submit()">UPLOAD</button>
    </form>
</mat-card>
<mat-card>
    <div fxLayout="row" fxLayoutGap="20px">
        <h1>Choose existing file</h1>
        <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutGap="20px">
                <button mat-raised-button (click)="refreshFiles()">REFRESH</button>
                <button mat-raised-button color="primary" routerLink="/measure">CHOOSE FILE</button>
            </div>
        </div>
    </div>
    <mat-selection-list #fileSelection (selectionChange)="selectionChanged()">
        <mat-list-option *ngFor="let file of fileNames()" [value]="file">
            {{ file }}
        </mat-list-option>
    </mat-selection-list>
</mat-card>
