<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center left" fxFlex="100%">
        <mat-card fxLayout="row">
            <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row">
                <droplet-canvas #dropletCanvas
                                [imageWidth]="imageWidth" [imageHeight]=[imageHeight]
                                [background]="canvasCarousel.selectedImage()"></droplet-canvas>
            </div>
            </div>
        </mat-card>
        <div fxLayou="row">
            <div fxLayout="column" fxFlex="70%">
                <mat-card fxLayout="row" fxLayoutGap="2px">
                    <button mat-raised-button color="primary" (click)="zoom(1.00)">100%</button>
                    <button mat-raised-button color="primary" (click)="zoom(0.75)">75%</button>
                    <button mat-raised-button color="primary" (click)="zoom(0.50)">50%</button>
                    <button mat-raised-button color="primary" (click)="zoom(0.40)">40%</button>
                    <button mat-raised-button color="primary" (click)="zoom(0.35)">35%</button>
                    <button mat-raised-button color="primary" (click)="zoom(0.30)">30%</button>
                    <button mat-raised-button color="primary" (click)="zoom(0.25)">25%</button>
                </mat-card>
                <mat-card fxLayout="row" fxLayoutGap="20px">
                    <label>Live time:</label>
                    <mat-form-field fxFlex="25%">
                        <input matInput type="number" [(ngModel)]="dropletCanvas.liveTime" name="liveTime">
                    </mat-form-field>
                </mat-card>
                <mat-card fxLayout="row" fxLayoutGap="20px">
                    <label>Scale:</label>
                    <mat-form-field fxFlex="15%">
                        <input matInput type="number" [(ngModel)]="scale.value" name="scaleValue">
                    </mat-form-field>
                    <mat-form-field fxFlex="15%">
                        <mat-select [(ngModel)]="scale.unit">
                            <mat-option *ngFor="let unit of units" [value]="unit">{{ unit }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </div>
            <div fxLayout="column" fxFlex="30%">
                <mat-card fxLayout="column" fxLayoutGap="20px">
                    <!-- <div> -->
                        <button mat-raised-button color="primary" (click)="commit()">COMMIT</button>
                        <button mat-raised-button color="primary" (click)="viewResults()">VIEW RESULTS</button>
                        <button mat-raised-button color="primary" (click)="downloadCsv()">DOWNLOAD CSV</button>
                        <button mat-raised-button routerLink="/choose-file">CHOOSE FILE</button>
                    <!-- </div> -->
                </mat-card>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxFlex="10%">
        <droplet-canvas-carousel #canvasCarousel
                                 [imageWidth]="imageWidth" [imageHeight]=[imageHeight]
                                 (click)="selectImage()"></droplet-canvas-carousel>
    </div>
    </div>
</div>
