<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center left">
    <mat-card fxLayout="row">
        <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row">
            <droplet-canvas #dropletCanvas></droplet-canvas>
            <video #video style="display: none" id="video" [src]="fileUrl" controls="true"></video>
            <!--<video #video style="display: none" id="video" src="http://storage.googleapis.com/spc-droplet-measurement-test/droplets.mp4" controls="true"></video>-->
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <div fxLayout="row">
                <button mat-icon-button mat-raised-button (click)="skipBackward()"><mat-icon>skip_previous</mat-icon></button>
                <button mat-icon-button mat-raised-button (click)="stepBackward()"><mat-icon>navigate_before</mat-icon></button>
                <button mat-icon-button mat-raised-button (click)="togglePlayPause()"><mat-icon>{{ playPause }}</mat-icon></button>
                <button mat-icon-button mat-raised-button (click)="stepForward()"><mat-icon>navigate_next</mat-icon></button>
                <button mat-icon-button mat-raised-button (click)="skipForward()"><mat-icon>skip_next</mat-icon></button>
            </div>
            <div fxLayout="row">
                <button mat-raised-button color="primary" (click)="commitAndNext()">COMMIT AND NEXT</button>
            </div>
            <div fxLayout="row">
                <button mat-raised-button routerLink="/choose-file">CHOOSE FILE</button>
            </div>
        </div>
        </div>
    </mat-card>
    <div fxLayout="row">
    <mat-card fxLayout="row" fxFlex="30%" fxLayoutGap="20px">
        <label>Skip interval (seconds):</label>
        <mat-form-field fxFlex="15%">
            <input matInput type="number" [(ngModel)]="timeSkipSeconds" name="timeSkip">
        </mat-form-field>
    </mat-card>
    <mat-card fxLayout="row" fxFlex="30%" fxLayoutGap="20px">
        <label>Live time:</label>
        <mat-form-field fxFlex="25%">
            <input matInput type="number" [(ngModel)]="dropletCanvas.liveTime" name="liveTime">
        </mat-form-field>
    </mat-card>
    <mat-card fxLayout="row" fxFlex="40%" fxLayoutGap="20px">
        <label>Scale:</label>
        <mat-form-field fxFlex="15%">
            <input matInput type="number" [(ngModel)]="scale.value" name="scaleValue">
        </mat-form-field>
        <mat-form-field fxFlex="15%">
            <mat-select [(ngModel)]="scale.unit">
                <mat-option *ngFor="let unit of units" [value]="unit">{{ unit }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox (change)="setAutoFindScale($event)">Auto-find scale</mat-checkbox>
    </mat-card>
    </div>
    <mat-card fxLayout="column" fxLayoutGap="20px">
        <mat-table #measurementsTable mat-table [dataSource]="measurements">
             <ng-container matColumnDef="id">
               <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
               <mat-cell *matCellDef="let el"> {{ el.id }} </mat-cell>
             </ng-container>

             <ng-container matColumnDef="timestamp">
               <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
               <mat-cell *matCellDef="let el"> {{ el.timestamp }} </mat-cell>
             </ng-container>

             <ng-container matColumnDef="adjustedTimestamp">
               <mat-header-cell *matHeaderCellDef> Adjusted Timestamp </mat-header-cell>
               <mat-cell *matCellDef="let el"> {{ el.adjustedTimestamp }} </mat-cell>
             </ng-container>

             <ng-container matColumnDef="droplet1Radius">
               <mat-header-cell *matHeaderCellDef> Droplet 1 Radius </mat-header-cell>
               <mat-cell *matCellDef="let el"> {{ el.droplet1Radius }} </mat-cell>
             </ng-container>

             <ng-container matColumnDef="droplet1Volume">
               <mat-header-cell *matHeaderCellDef> Droplet 1 Volume </mat-header-cell>
               <mat-cell *matCellDef="let el"> {{ el.droplet1Volume }} </mat-cell>
             </ng-container>

             <ng-container matColumnDef="droplet2Radius">
               <mat-header-cell *matHeaderCellDef> Droplet 2 Radius </mat-header-cell>
               <mat-cell *matCellDef="let el"> {{ el.droplet2Radius }} </mat-cell>
             </ng-container>

             <ng-container matColumnDef="droplet2Volume">
               <mat-header-cell *matHeaderCellDef> Droplet 2 Volume </mat-header-cell>
               <mat-cell *matCellDef="let el"> {{ el.droplet2Volume }} </mat-cell>
             </ng-container>

             <ng-container matColumnDef="totalVolume">
               <mat-header-cell *matHeaderCellDef> Total Volume </mat-header-cell>
               <mat-cell *matCellDef="let el"> {{ el.totalVolume }} </mat-cell>
             </ng-container>

             <ng-container matColumnDef="dibRadius">
               <mat-header-cell *matHeaderCellDef> DIB Radius </mat-header-cell>
               <mat-cell *matCellDef="let el"> {{ el.dibRadius }} </mat-cell>
             </ng-container>

             <ng-container matColumnDef="contactAngle">
               <mat-header-cell *matHeaderCellDef> Contact Angle </mat-header-cell>
               <mat-cell *matCellDef="let el"> {{ el.contactAngle }} </mat-cell>
             </ng-container>

             <ng-container matColumnDef="radialDistance">
               <mat-header-cell *matHeaderCellDef> Radial Distance </mat-header-cell>
               <mat-cell *matCellDef="let el"> {{ el.radialDistance }} </mat-cell>
             </ng-container>

             <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
             <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div>
            <button mat-raised-button color="primary" (click)="downloadCsv()">DOWNLOAD CSV</button>
        </div>
    </mat-card>
</div>
</div>
